# Ignore Jupyter notebooks
*.ipynb
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
cavourvenv/
cavourvenv
.venv/
env/

# Ignore Python cache and build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp
*.nbi
*.nbc